<i-input v-model="forward.form.filterKey" clearable size="small" placeholder="搜索..." prefix="ios-search" />
<!-- <i-table size="small" :height="400" :columns="forward.columns" :data="forwards">
    <template slot-scope="{row, index}" slot="status">
        <badge :text="row.status?'已开启':'未开启'" :type="row.status?'success':'normal'"> </badge>
    </template>
    <template slot-scope="{row, index}" slot="opt">
        <i-button v-show="!row.status" type="success" size="small" style="margin-right: 5px" @click="console.log(row)">开启</i-button>
    </template>
</i-table> -->
<table class="table table-hover border fixed">
    <thead>
        <tr>
            <th width="70">群ID</th>
            <th>群名称</th>
            <th class="text-center" width="80">状态</th>
        </tr>
    </thead>
    <tbody style="height: 350px;">
        <template v-if="forwards.length">
            <tr v-for="e in forwards">
                <td width="70">{{e.seq}}</td>
                <td>{{e.NickName}}</td>
                <td class="text-center" width="80">
                    <i-switch v-model="e.status" :loading="e.loading" size="large" @on-change="changeForward(e)">
                        <span slot="open">开启</span>
                        <span slot="close">关闭</span>
                    </i-switch>
                </td>
            </tr>
        </template>
        <tr v-else class="h-100">
            <td class="text-center align-middle">暂无数据</td>
        </tr>
    </tbody>
</table>