<i-input v-model="forward.form.filterKey" clearable size="small" placeholder="搜索..." prefix="ios-search" />
<table class="table table-hover border border-bottom-0 fixed mb-0">
    <thead>
        <tr>
            <th width="70">群ID</th>
            <th>群名称</th>
            <th class="text-center" width="80">状态</th>
        </tr>
    </thead>
</table>
<Recycle-Scroller class="scroller border border-top-0" :items="forwards" :item-size="46" key-field="seq" style="height: 375px;">
    <template v-slot="{item}">
        <div class="d-flex align-items-center border-bottom" style="height:46px">
            <div class="px-2" style="width:70px">{{item.seq}}</div>
            <div class="px-2 flex-fill" v-html="item.NickName"></div>
            <div class="px-2 text-center" style="width:80px">
                <i-switch v-model="item.status" :loading="item.loading" size="large" @on-change="changeForward(item)">
                    <span slot="open">开启</span>
                    <span slot="close">关闭</span>
                </i-switch>
            </div>
        </div>
    </template>
</Recycle-Scroller>

<!-- <table class="table table-hover border fixed mb-0">
    <thead>
        <tr>
            <th width="70">群ID</th>
            <th>群名称</th>
            <th class="text-center" width="80">状态</th>
        </tr>
    </thead>
    <tbody style="height: 375px;">
        <template v-if="forwards.length">
            <tr v-for="e in forwards">
                <td width="70">{{e.seq}}</td>
                <td>{{e.NickName}}</td>
                <td class="text-center" width="80">
                    <i-switch v-model="e.status" :loading="e.loading" size="large" @on-change="changeForward(e)">
                        <span slot="open">开启</span>
                        <span slot="close">关闭</span>
                    </i-switch>
                </td>
            </tr>
        </template>
        <tr v-else class="h-100">
            <td class="text-center align-middle">暂无数据</td>
        </tr>
    </tbody>
</table> -->