<i-form @submit.native.prevent>
    <form-item class="mb-0">
        <i-button class="float-right" icon="ios-add" size="small" type="primary" @click="globalKeyword.form.modal=true;globalKeyword.form.edit=false;"></i-button>
        <i-input class="d-block w-auto" style="margin-right:30px" v-model="globalKeyword.form.filterKey" clearable size="small" placeholder="搜索..." prefix="ios-search" />
    </form-item>
</i-form>
<table class="table table-hover border fixed mb-0">
    <thead>
        <tr>
            <th>关键词：回复</th>
            <th class="text-center" width="90">操作</th>
        </tr>
    </thead>
    <tbody style="height: 375px;">
        <template v-if="keyMap.length">
            <tr v-for="e in keyMap">
                <td>
                    <tooltip :content="e.key+'：'+e.value" class="text-truncate w-100">
                        {{e.key}}：{{e.value}}
                    </tooltip>
                </td>
                <td class="text-center" width="90">
                    <i-button icon="ios-create" size="small" type="default" @click="globalKeyword.form.modal=true;globalKeyword.form.key=e.key;globalKeyword.form.edit=true;globalKeyword.form.value=e.value;"></i-button>
                    <i-button icon="ios-remove" size="small" type="primary" @click="globalKeyword.form.confirm=true;globalKeyword.form.delKey=e.key;"></i-button>
                </td>
            </tr>
        </template>
        <tr v-else class="h-100">
            <td class="text-center align-middle">暂无数据</td>
        </tr>
    </tbody>
</table>


<modal v-model="globalKeyword.form.modal" title="全群关键词" width="400" :mask-closable="false" :loading="globalKeyword.form.modalLoading" class-name="vertical-center-modal"
@on-ok="editKeyMapOk" @on-cancel="editKeyMapCancel">
    <div>
        <i-input placeholder="关键词..." clearable :disabled="globalKeyword.form.edit" v-model="globalKeyword.form.key"/>
    </div>
    <br>
    <div>
        <i-input type="textarea" :autosize="{maxRows: 4, minRows: 4}" placeholder="回复内容..." v-model="globalKeyword.form.value"/>
    </div>
</modal>
<modal v-model="globalKeyword.form.confirm" width="360" :mask-closable="false" class-name="vertical-center-modal">
    <p slot="header" class="text-center" style="color:#f60;">
        <icon type="ios-information-circle"></icon>
        <span>删除确认</span>
    </p>
    <div style="text-align:center">
        <p>是否继续删除全群关键词 [{{globalKeyword.form.delKey}}]？</p>
    </div>
    <div slot="footer">
        <i-button type="error" size="large" long :loading="globalKeyword.form.confirmLoading" @click="delKeyMap">删除</i-button>
    </div>
</modal>