
<i-form inline @submit.native.prevent>
    <form-item class="mb-0">
        <i-button icon="ios-add" size="small" type="primary" @click="globalTimer.form.modal=true">添加定时群发</i-button>
    </form-item>
</i-form>
<table class="table table-hover border fixed mb-0">
    <thead>
        <tr>
            <th width="190">时间</th>
            <th>内容</th>
            <th class="text-center" width="70">操作</th>
        </tr>
    </thead>
    <tbody style="height: 367px;">
        <template v-if="globalTimer.msgs.length">
            <tr v-for="e in globalTimer.msgs">
                <td width="190">
                    <timer-schedule :schedule="e.schedule"></timer-schedule>
                </td>
                <td>
                    <tooltip :content="e.content" class="text-truncate w-100">
                        {{e.content}}asdfasdf65w1fe65a1w6f15a6f1a65w1fe
                    </tooltip>
                </td>
                <td class="text-center" width="70">
                    <i-button size="small" @click="globalTimer.form.confirm = true;globalTimer.form.uuid = e.uuid;">删除</i-button>
                </td>
            </tr>
        </template>
        <tr v-else class="h-100">
            <td class="text-center align-middle">暂无数据</td>
        </tr>
    </tbody>
</table>


<modal v-model="globalTimer.form.modal" title="添加全群定时消息" width="440" :mask-closable="false" :loading="globalTimer.form.modalLoading" class-name="vertical-center-modal"
onselectstart="return false" ondragstart="return false" @on-ok="editMsgOk" @on-cancel="editMsgCancel">
    <i-form @submit.native.prevent>
        <form-item label="时间类型" class="mb-0">
            <radio-group v-model="globalTimer.form.scheduleType">
                <radio :label="1">固定时间</radio>
                <radio :label="2">间隔时间</radio>
            </radio-group>
        </form-item>
        <div class="mb-0">
            <div v-if="globalTimer.form.scheduleType == 1">
                <i-select style="width:50px" placeholder="" v-model="globalTimer.form.schedule.MM">
                    <i-option v-if="globalTimer.form.scheduleType == 1" value="*" key="*" class="text-center">*</i-option>
                    <i-option v-if="globalTimer.form.scheduleType == 1" v-for="n in 12" :value="n" :key="n" class="text-center">{{ n<10?"0"+n:n }}</i-option>
                    <i-option v-if="globalTimer.form.scheduleType == 2" v-for="n in 13" :value="n-1" :key="n-1" class="text-center">{{ (n-1)<10?"0"+(n-1):(n-1) }}</i-option></10>
                </i-select> 月
                <i-select style="width:50px" placeholder="" v-model="globalTimer.form.schedule.dd">
                    <i-option v-if="globalTimer.form.scheduleType == 1" value="*" key="*" class="text-center">*</i-option>
                    <i-option v-if="globalTimer.form.scheduleType == 1" v-for="n in 31" :value="n" :key="n" class="text-center">{{ n<10?"0"+n:n }}</i-option>
                    <i-option v-if="globalTimer.form.scheduleType == 2" v-for="n in 32" :value="n-1" :key="n-1" class="text-center">{{ (n-1)<10?"0"+(n-1):(n-1) }}</i-option></10>
                </i-select> 日
                <i-select style="width:50px" placeholder="" v-model="globalTimer.form.schedule.HH">
                    <i-option v-if="globalTimer.form.scheduleType == 1" value="*" key="*" class="text-center">*</i-option>
                    <i-option v-for="n in 24" :value="n-1" :key="n-1" class="text-center">{{ (n-1)<10?"0"+(n-1):(n-1) }}</i-option>
                </i-select> 时
                <i-select style="width:50px" placeholder="" v-model="globalTimer.form.schedule.mm">
                    <i-option v-if="globalTimer.form.scheduleType == 1" value="*" key="*" class="text-center">*</i-option>
                    <i-option v-for="n in 60" :value="n-1" :key="n-1" class="text-center">{{ (n-1)<10?"0"+(n-1):(n-1) }}</i-option>
                </i-select> 分
                <i-select style="width:50px" placeholder="" v-model="globalTimer.form.schedule.ss">
                    <i-option v-if="globalTimer.form.scheduleType == 1" value="*" key="*" class="text-center">*</i-option>
                    <i-option v-for="n in 60" :value="n-1" :key="n-1" class="text-center">{{ (n-1)<10?"0"+(n-1):(n-1) }}</i-option>
                </i-select> 秒
            </div>
            <div v-else>
                <input-number style="width:150px" :min="1" :step="1" v-model="globalTimer.form.schedule.ss"></input-number> 秒
            </div>
            <div class="text-danger">
                <span v-if="globalTimer.form.scheduleType == 1">
                        每当时间到达：[
                    <span v-show="globalTimer.form.schedule.MM != null">{{globalTimer.form.schedule.MM}}月</span>
                    <span v-show="globalTimer.form.schedule.dd != null">{{globalTimer.form.schedule.dd}}日</span>
                    <span v-show="globalTimer.form.schedule.HH != null">{{globalTimer.form.schedule.HH}}时</span>
                    <span v-show="globalTimer.form.schedule.mm != null">{{globalTimer.form.schedule.mm}}分</span>
                    <span v-show="globalTimer.form.schedule.ss != null">{{globalTimer.form.schedule.ss}}秒</span>
                </span>
                <span v-else>
                    频率每隔：[
                    <span v-show="globalTimer.form.schedule.ss != null">{{
                        parseInt(globalTimer.form.schedule.ss/60/60%60)+"小时"+
                        parseInt(globalTimer.form.schedule.ss/60%60)+"分钟"+
                        parseInt(globalTimer.form.schedule.ss%60)+"秒"
                    }}</span>
                </span>
                
                ] 发送一次
            </div>
            <div v-show="globalTimer.form.scheduleType == 1" class="text-info">
                "*" 号为该区域内所有时间段，例："14时5分*秒" 在下午2点5分 每秒发送一次
            </div>
        </div>

        <form-item label="消息内容" class="mb-0">
            <radio-group v-model="globalTimer.form.type">
                <radio label="text">文本</radio>
                <radio label="file">文件</radio>
            </radio-group>
        </form-item>
        <div>
            <i-input v-if="globalTimer.form.type == 'text'" type="textarea" :autosize="{maxRows: 4, minRows: 4}" placeholder="回复内容..." v-model="globalTimer.form.text"/>
            <Upload v-if="globalTimer.form.type == 'file'" type="drag" :before-upload="handleUpload" :max-size="10240">
                <div style="padding: 20px 0">
                    <Icon type="ios-cloud-upload" size="52" style="color: #3399ff"></Icon>
                    <p>点击选择文件或拖拽文件到该区域</p>
                </div>
            </Upload>
            <div v-if="globalTimer.form.file !== null">文件名: {{ globalTimer.form.file.name }}</div>
        </div>
    </i-form>
</modal>
<modal v-model="globalTimer.form.confirm" width="360" onselectstart="return false" ondragstart="return false" :mask-closable="false" class-name="vertical-center-modal">
    <p slot="header" class="text-center" style="color:#f60;">
        <icon type="ios-information-circle"></icon>
        <span>删除确认</span>
    </p>
    <div style="text-align:center">
        <p>是否继续删除该定时群发消息？</p>
    </div>
    <div slot="footer">
        <i-button type="error" size="large" long :loading="globalTimer.form.confirmLoading" @click="delMsg">删除</i-button>
    </div>
</modal>