<card dis-hover="true" class="p-0 bg-gray rounded-0">
    <i-form inline @submit.native.prevent>
        <form-item class="mb-0 mx-0 w-100">
            <div class="d-flex align-items-center ">
                <i-input v-model.trim.lazy="contacts.filterKey" class="flex-fill pr-1" clearable size="small" placeholder="搜索..." prefix="ios-search"/>
                <i-button icon="ios-paper" size="small" type="primary" @click="saveContactsAsTxt" title="导出联系人"></i-button>
                <i-button icon="ios-sync" class="mx-1" size="small" type="primary" :loading="contacts.loading" @click="reloadContacts" title="刷新联系人列表"></i-button>
            </div>
        </form-item>
    </i-form>
    <tabs value="contact" :animated="false" v-model="contacts.contactTab">
        <tab-pane label="联系人" icon="ios-person" name="contact">
            <Spin fix v-show="contacts.individualsLoading">
                <Icon type="ios-loading" size=18 class="demo-spin-icon-load"></Icon>
            </Spin>
            <Recycle-Scroller class="contact-ul" ref="individualScroller" :items="filterIndividuals" :item-size="50" key-field="UserName">
                <template v-slot="{item}">
                    <div class="contact_item d-flex align-items-center" @click="startChat(item)">
                        <div class="mr-2">
                            <Badge :count="item.count" overflow-count="99">
                                <img class="avatar2" :src="Web.wxHost + item.HeadImgUrl">
                            </Badge>
                        </div>
                        <div v-html="item.RemarkName || item.NickName"></div>
                    </div>
                </template>
            </Recycle-Scroller>
        </tab-pane>
        <tab-pane label="群聊" icon="ios-people" name="chatroom">
            <Spin fix v-show="contacts.chatRoomsLoading">
                <Icon type="ios-loading" size=18 class="demo-spin-icon-load"></Icon>
            </Spin>
            <Recycle-Scroller class="contact-ul" ref="chatRoomScroller" :items="filterChatRooms" :item-size="50" key-field="UserName">
                <template v-slot="{item}">
                    <div class="contact_item d-flex align-items-center" @click="startChat(item)">
                        <div class="mr-2">
                            <Badge :count="item.count" overflow-count="99">
                                <img class="avatar2" :src="Web.wxHost + item.HeadImgUrl">
                            </Badge>
                        </div>
                        <div v-html="item.RemarkName || item.NickName"></div>
                    </div>
                </template>
            </Recycle-Scroller>
        </tab-pane>
    </tabs>
</card>