<card :title="chat.title" style="height: inherit;" dis-hover="true" class="p-0 bg-gray">
    <div style="height: 410px;" class="overflow-auto">
        <divider style="font-size: 12px">2019-01-24 23:46:38</divider>
        <div class="msg-conversation my-3" v-for="v in 10">
            <div class="user-img" :class="[v%2==0?'float-left':'float-right']">
                <img src=""/>
            </div>
            <div class="popover show position-relative" 
                :class="[v%2==0?'float-left bs-popover-right contact':'float-right bs-popover-left self']" style="max-width: 75%;">
                <div class="arrow" style="top: .25rem;"></div>
                <div class="popover-body">Vivamus sagittis lacus vel augue laoreet rutrum faucibus.</div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="border border-gray">
        <div class="p-1 bg-transparent">
            <a>
                <icon :color="'#2db7f5'" size="16" type="ios-folder" ghost @click="sendApp"></icon>
            </a>
        </div>
        <textarea class="w-100 border-0 px-2 bg-transparent" v-model="chat.text" type="textarea" rows="3" style="resize:none;outline: none"></textarea>
        <div class="text-right w-100 p-2">
            <i-button type="info" size="small" @click="sendText">发 送</i-button>
        </div>
    </div>
</card>