.talk_content fieldset{
	position: relative;
	margin: 25px 82px 14px;
	display: block;
	padding: 0px;
}
.talk_content fieldset legend{
	border:none;
	position: absolute;
	top: -9px;
	text-align: center;
	font-weight: normal;
	color: #808080;
	text-decoration: none;
	padding: 0 5px;
	font-size: 12px;
}
.msg-conversation {
    position: relative;
}
.msg-conversation .user-img {
    width: 35px;
    height: 35px;
    display: inline-block;
}
.msg-conversation .user-img img{
    width: 100%;
    height: 100%;
}

.msg-conversation .popover{
    z-index: inherit;
}
.msg-conversation .arrow::before {
    border-left-color:transparent;
    border-right-color:transparent;
}
.msg-conversation .bs-popover-left .arrow{
    right: calc((.4rem + 1px) * -1);
}
.msg-conversation .bs-popover-right .arrow{
    left: calc((.4rem + 1px) * -1);
} 
.msg-conversation .popover.self{
    background-color: #b2e281;
    border:1px solid #b2e281;
}
.msg-conversation .self .arrow::after, 
.msg-conversation .self .bs-popover-left .arrow::after {
    border-left-color: #b2e281;
}
.msg-conversation .popover.contact{
    background-color: #fff;
    border:1px solid #fff;
}
.msg-conversation .contact .arrow::after, 
.msg-conversation .contact .bs-popover-right .arrow::after {
    border-right-color: #fff;
}
.playPause.ui-icon {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 0;
    display: block;
    width: auto;
    bottom: 56px;
}
.ui-icon {
    font-size: 20px;
    vertical-align: middle;
    width: 20px;
    margin-right: 10px;
    cursor: pointer;
}
.playPause.ui-icon:before {
    font-size: 20px;
    line-height: 80px;
    color:#FFFFFF;
    z-index: 2;
    top: 50%;
    left: 50%;
    margin: -40px 0 0 -14px;
}
.playPause.ui-icon:after {
    content: '';
    width: 40px;
    height: 40px;
    margin: -20px 0 0 -28px;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
}
.playPause.ui-icon:before, 
.playPause.ui-icon:after {
    position: absolute;
    top: 65%;
    left: 50%;
}

.audio_area {
    display: inline-block;
    width: 100%;
    vertical-align: top;
    margin: 0px 1px 0px 0;
    font-size: 0;
    position: relative;
    font-weight: 400;
    text-decoration: none;
    -ms-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}
.audio_wrp {
    overflow: hidden;
}
.audio_play_area {
    font-size: 0;
    width: 18px;
    height: 25px;
}
.playing .audio_play_area .icon_audio_default {
    display: block;
}
.audio_play_area .icon_audio_default {
    background: transparent url(images/iconloop.png) no-repeat 0 0;
    width: 18px;
    height: 25px;
    vertical-align: middle;
    display: inline-block;
    -webkit-background-size: 54px 25px;
    background-size: 54px 25px;
    background-position: -36px center;
}
.audio_play_area .icon_audio_playing {
    background: transparent url(images/iconloop.png) no-repeat 0 0;
    width: 18px;
    height: 25px;
    vertical-align: middle;
    display: inline-block;
    -webkit-background-size: 54px 25px;
    background-size: 54px 25px;
    -webkit-animation: audio_playing 1s infinite;
    background-position: 0px center;
    display: none;
}
.audio_area .pic_audio_default {
    display: none;
    width: 18px;
}
.audio_area .audio_length {
    color: #999999;
    float: right;
    font-size: 14px;
    margin-top: 3px;
    margin-left: 4em;
}
.audio_info_area {
    overflow: hidden;
}
.audio_area .audio_title {
    font-weight: 400;
    font-size: 17px;
    margin-top: -2px;
    margin-bottom: -3px;
    width: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
}
.playing .audio_play_area .icon_audio_default {
    display: none;
}
.playing .audio_play_area .icon_audio_playing {
    display: inline-block;
}
@-webkit-keyframes audio_playing {
    30% {
        background-position: 0px center;
    }
    31% {
        background-position: -18px center;
    }
    61% {
        background-position: -18px center;
    }
    61.5% {
        background-position: -36px center;
    }
    100% {
        background-position: -36px center;
    }
}