<card v-if="chat.title !=' '" style="height: inherit;" dis-hover="true" class="p-0 bg-gray h-100 rounded-0">
    <p slot="title" v-html="chat.title"></p>
    <Dynamic-Scroller :items="chat.chatRecord" ref="chatScroller" :min-item-size="71" style="height: 410px;" type-field="msgType" key-field="timestamp">
        <template #before v-if="chat.hasMore">
            <div class="text-center">
                <Spin v-show="chat.loading">
                    <Icon type="ios-loading" size=18 class="demo-spin-icon-load"></Icon>
                </Spin>
                <a v-show="!chat.loading" href="javascript:;" style="font-size:12px;" @click="moreChatRecord">查看更多消息</a>
            </div>
        </template>
        <template v-slot="{ item, index, active }">
            <Dynamic-Scroller-Item :item="item" :active="active" :size-dependencies="[item.body]" :data-index="index">
                <div class="msg-conversation py-3">
                    <div class="user-img" :class="[item.direction==2?'float-left':'float-right']">
                        <img :src="item.direction==2?(item.chatType==1?chat.userHeadImg:item.avatar):chat.ownerHeadImg" />
                    </div>
                    <div class="popover show position-relative" :class="[item.direction==2?'float-left bs-popover-right contact':'float-right bs-popover-left self']" style="max-width: 75%;">
                        <div class="arrow" style="top: .25rem;"></div>
                        
                        <!-- 文本消息 -->
                        <div class="popover-body" v-if="item.msgType==1" v-html="item.body.content"></div>
                        <!-- 图片消息 -->
                        <div class="popover-body" v-else-if="item.msgType==3" >
                            <a :href="item.body.content" target="_blank">
                                <img :src="item.body.thumbImageUrl" style="max-height:100px;max-width: 200px;cursor: pointer;" />
                            </a>
                        </div>
                        <!-- 语音消息 -->
                        <div class="popover-body" v-else-if="item.msgType==34" @click="mediaPlay(item)" style="cursor: pointer;" >
                            <span class="audio_area">
                                <span class="audio_wrp">
                                    <span class="audio_play_area">
                                        <i class="icon_audio_default"></i>
                                        <i class="icon_audio_playing"></i>
                                    </span>
                                    <span class="audio_length tips_global">{{item.body.fileSize}}''</span>
                                </span>
                            </span>
                            <sup v-show="item.played != undefined && !item.played" class='ivu-badge-dot'></sup>
                        </div>
                        <!-- 视频消息 -->
                        <div class="popover-body" v-else-if="item.msgType==43" @click="mediaPlay(item)">
                            <video name="media" v-bind:poster="item.body.thumbImageUrl" style="max-height:200px;max-width: 200px;cursor: pointer;">
                                <source v-bind:src="item.body.content" type="video/mp4">
                            </video>
                            <i data-playPause class="playPause fa fa-play ui-icon"><span></span></i>
                        </div>
                        <!-- 表情消息 -->
                        <div class="popover-body" v-else-if="item.msgType==47">
                            <img :src="item.body.content" style="max-height:100px;max-width: 200px;" />
                        </div>
                        <!-- 多媒体消息 -->
                        <div class="popover-body" v-else-if="item.msgType==49">
                            <div class="attach_bd" @click="mediaPlay(item)" style="cursor: pointer;">
                                <div class="cover">
                                    <a href="javascipt:;" title="点击打开文件">
                                        <i style="cursor: pointer;" class="web_wechat_file"></i>
                                    </a>
                                </div>
                                <div class="cont">
                                    <p :title="item.body.fileName">{{item.body.fileName}}</p>
                                    <div class="" style="margin-top: 25px">
                                        <span class="ng-binding">{{item.body.fileSize}}</span>
                                        <span class="">|</span>
                                        <span class="check_span" > 查看 </span>
                                    </div>
                                </div>
                            </div>
                        </div>
        
                    </div>
                    <div class="clearfix"></div>
                </div>
            </Dynamic-Scroller-Item>
        </template>
    </Dynamic-Scroller>

    <!-- <div style="height: 410px;" class="overflow-auto" id="chatcontheight">
        <divider style="font-size: 12px"></divider>
    </div> -->
    <div class="border border-gray">
        <div class="p-1 bg-transparent">
            <a>
                <icon :color="'#2db7f5'" size="16" type="ios-folder" ghost @click="sendApp"></icon>
            </a>

            <Date-Picker
                ref="recordDatePicker"
                :open="chat.datePickerOpen"
                :value="chat.recordDate"
                type="date"
                :clearable="false"
                :options="chat.options"
                @on-change="charRecordPicker" >
                <a href="javascript:void(0);" @click="chat.datePickerOpen= !chat.datePickerOpen;">
                    <Icon type="ios-calendar" :color="'#2db7f5'" size="16"></Icon>
                    {{ chat.recordDate }}
                </a>
            </Date-Picker>
        </div>
        <textarea id="chatText" class="w-100 border-0 px-2 bg-transparent" @keydown.ctrl.enter="sendText" @keydown.alt.83="sendText" type="textarea" rows="3" style="resize:none;outline: none"></textarea>
        <div class="text-right w-100 p-2">
            <i-button type="info" size="small" @click="sendText">发 送(S)</i-button>
        </div>
    </div>
</card>
<div v-else class="message_empty">
    <i class="web_wechat_nomes_icon"></i>
    <p class="p_blank">未选择聊天</p>
</div>