<i-form ref="formGeneral" :label-width="120" label-position="left">
    <form-item label="被动加好友功能">
        <i-switch v-model="general.form.autoAcceptFriend" size="large">
            <span slot="open">开启</span>
            <span slot="close">关闭</span>
        </i-switch>
    </form-item>
    <form-item label="关键词功能">
        <i-switch v-model="general.form.globalKeyword" size="large">
            <span slot="open">开启</span>
            <span slot="close">关闭</span>
        </i-switch>
    </form-item>
    <form-item label="定时消息功能">
        <i-switch v-model="general.form.globalTimer" size="large">
            <span slot="open">开启</span>
            <span slot="close">关闭</span>
        </i-switch>
    </form-item>
    <form-item label="图灵机器人">
        <i-input v-model="general.form.turingKey" placeholder="请填写apikey..." style="width:250px"/>
    </form-item>
    <form-item>
        <i-button type="primary" :loading="general.loading" @click="generalSubmit">应用选项</i-button>
        <i-button @click="generalReset" class="ml-2">重置选项</i-button>
    </form-item>
</i-form>