<i-form ref="formGeneral" :label-width="120" label-position="left">
    <form-item label="自动接受好友请求">
        <i-switch v-model="general.form.autoAcceptFriend" size="large">
            <span slot="open">开启</span>
            <span slot="close">关闭</span>
        </i-switch>
    </form-item>
    <form-item label="全局群回复">
        <i-switch v-model="general.form.globalKeyword" size="large">
            <span slot="open">开启</span>
            <span slot="close">关闭</span>
        </i-switch>
    </form-item>
    <form-item label="全局群定时">
        <i-switch v-model="general.form.globalTimer" size="large">
            <span slot="open">开启</span>
            <span slot="close">关闭</span>
        </i-switch>
    </form-item>
    <form-item>
        <i-button type="primary" :loading="general.loading" @click="generalSubmit">应用选项</i-button>
        <i-button @click="generalReset" class="ml-2">重置选项</i-button>
    </form-item>
</i-form>