<i-menu mode="horizontal" :theme="skin" class="right py-1" style="line-height:normal;">
    <menu-item class="text-center px-3">
        <i-button type="info" icon="md-settings" class="py-0 px-2" style="font-size: 20px" @click="wxbot.openSetting()"></i-button>
        <div>设置</div>
    </menu-item>
    <menu-item class="text-center px-3">
        <i-button type="info" icon="ios-paper-plane" class="py-0 px-2" style="font-size: 20px"></i-button>
        <div>群转发</div>
    </menu-item>
    <menu-item class="text-center px-3">
        <i-button type="info" icon="ios-timer" class="py-0 px-2" style="font-size: 20px"></i-button>
        <div>定时群发</div>
    </menu-item>
    <menu-item class="text-center px-3">
        <i-button type="info" icon="ios-bookmarks" class="py-0 px-2" style="font-size: 20px"></i-button>
        <div>群关键词</div>
    </menu-item>
    <menu-item class="text-center px-3">
        <i-button type="info" icon="ios-information-circle" class="py-0 px-2" style="font-size: 20px"></i-button>
        <div>群提示语</div>
    </menu-item>
    <menu-item class="text-center px-3">
        <i-button type="info" icon="ios-phone-portrait" class="py-0 px-2" style="font-size: 20px"></i-button>
        <div>手机设置</div>
    </menu-item>
</i-menu>
