<i-menu mode="horizontal" :theme="skin" class="right py-1" style="line-height:normal;">
    <menu-item class="text-center px-3">
        <i-button type="info" icon="md-settings" class="py-0 px-2" style="font-size: 20px" @click="wxbot.openSetting('general')"></i-button>
        <div>设置</div>
    </menu-item>
    <menu-item class="text-center px-3">
        <i-button type="info" icon="ios-paper-plane" class="py-0 px-2" style="font-size: 20px" @click="wxbot.openSetting('forward')"></i-button>
        <div>全群转发</div>
    </menu-item>
    <menu-item class="text-center px-3">
        <i-button type="info" icon="ios-timer" class="py-0 px-2" style="font-size: 20px" @click="wxbot.openSetting('globalTimer')"></i-button>
        <div>全群定时</div>
    </menu-item>
    <menu-item class="text-center px-3">
        <i-button type="info" icon="ios-bookmarks" class="py-0 px-2" style="font-size: 20px" @click="wxbot.openSetting('globalKeyword')"></i-button>
        <div>全群回复</div>
    </menu-item>
    <menu-item class="text-center px-3">
        <i-button type="info" icon="ios-information-circle" class="py-0 px-2" style="font-size: 20px" @click="wxbot.openSetting('tips')"></i-button>
        <div>群提示语</div>
    </menu-item>
    <menu-item class="text-center px-3">
        <i-button type="info" icon="ios-trash" class="py-0 px-2" style="font-size: 20px"></i-button>
        <div>僵尸粉检测</div>
    </menu-item>
    <menu-item class="text-center px-3">
        <i-button type="info" icon="ios-phone-portrait" class="py-0 px-2" style="font-size: 20px"></i-button>
        <div>移动端管理</div>
    </menu-item>
</i-menu>
