.right.ivu-menu-horizontal .ivu-menu-item,
.right.ivu-menu-horizontal .ivu-menu-submenu{
    float:right;
}
.demo-spin-icon-load{
    animation: ani-demo-spin 1s linear infinite;
}

.h_contact_item {
    overflow: hidden;
    padding-top: 5px;
    cursor: pointer;
}
.h_avatar {
    float: left;
    margin-right: 10px;
}
.h_avatar2 {
    display: block;
    cursor: pointer;
    width: 25px;
    height: 25px;
    background-color: #ccc;
}
.h_info {
    overflow: hidden;
    line-height: 30px;
    padding: 5px;
    text-align: left;
}
.h_info .h_nickname {
    color: #292c33;
    font-weight: 400;
    font-size: 13px;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
}

#wapSite{
    height:256px;
    width:256px;
    display: inline-block;
}