<i-menu mode="horizontal" :theme="skin" class="right py-1 rounded-0" style="line-height:normal;">
    <menu-item class="text-center px-3">
        <i-button type="info" class="py-0 px-2" style="font-size: 20px" @click="wxbot.openSetting('general')">
            <i class="fas fa-cog"></i>
        </i-button>
        <div>设置</div>
    </menu-item>
    <menu-item class="text-center px-3">
        <i-button type="info" class="py-0 px-2" style="font-size: 20px" @click="wxbot.openSetting('seqs')">
            <i class="fas fa-toggle-on"></i>
        </i-button>
        <div>分群开关</div>
    </menu-item>
    <menu-item class="text-center px-3" v-if="Web.user.userInfo.serverState && permissions.globalTimer">
        <i-button type="info" class="py-0 px-2" style="font-size: 20px" @click="wxbot.openSetting('globalTimer')">
            <i class="fas fa-clock"></i>
        </i-button>
        <div>全群定时</div>
    </menu-item>
    <menu-item class="text-center px-3" v-if="Web.user.userInfo.serverState && permissions.globalKeyword">
        <i-button type="info" class="py-0 px-2" style="font-size: 20px" @click="wxbot.openSetting('globalKeyword')">
            <i class="fas fa-comment-dots"></i>
        </i-button>
        <div>全群回复</div>
    </menu-item>
    <menu-item class="text-center px-3">
        <i-button type="info" class="py-0 px-2" style="font-size: 20px" @click="wxbot.openSetting('tips')">
            <i class="fas fa-info-circle"></i>
        </i-button>
        <div>群提示语</div>
    </menu-item>
    <menu-item class="text-center px-3" v-if="Web.user.userInfo.serverState && permissions.zombieTest">
        <Poptip trigger="hover">
            <button @click="checkFriend" type="button" class="py-0 px-2 ivu-btn ivu-btn-info ivu-btn-icon-only" style="font-size: 20px;">
                <i class="fas fa-filter" :class="[!header.checkLoading?'fas fa-filter':'ivu-load-loop ivu-icon ivu-icon-ios-loading']"></i>
            </button>
            <div ref="checkDiv">僵尸粉检测</div>
            <div slot="content">
                <div class="ivu-poptip-body-content-inner" style="text-align: left;">检测时间：{{header.checkProgress.checkTime}}</div>
                <div class="ivu-poptip-body-content-inner" style="text-align: left;">好友总数：{{contacts.individuals.length}}</div>
                <div class="ivu-poptip-body-content-inner" style="text-align: left;">当前进度：{{header.checkProgress.count}}/{{contacts.individuals.length}}</div>
                <tabs value="" :animated="false" size="small" style="height:200px; width: 200px;">
                    <tab-pane label="被删除" icon="ios-trash" name="contact">
                        <Scroll :height="167">
                            <ul>
                                <li v-for="(value, key) in header.checkProgress.deleteMap">
                                    <div class="h_contact_item d-flex align-items-center" @click="startChat(value)">
                                        <div class="mr-2">
                                            <img class="h_avatar2" :src="Web.wxHost + value.HeadImgUrl">
                                        </div>
                                        <div v-html="value.RemarkName || value.NickName"></div>
                                    </div>
                                </li>
                                <li v-show="header.checkProgress.deleteMapNull">暂时无数据</li>
                            </ul>
                        </Scroll>
                    </tab-pane>
                    <tab-pane label="黑名单" icon="ios-person" name="chatroom">
                        <Scroll :height="167">
                            <ul>
                                <li v-for="(value, key) in header.checkProgress.blacklistMap">
                                    <div class="h_contact_item d-flex align-items-center" @click="startChat(value)">
                                        <div class="mr-2">
                                            <img class="h_avatar2" :src="Web.wxHost + value.HeadImgUrl">
                                        </div>
                                        <div v-html="value.RemarkName || value.NickName"></div>
                                    </div>
                                </li>
                                <li v-show="header.checkProgress.blacklistMapNull">暂时无数据</li>
                            </ul>
                        </Scroll>
                    </tab-pane>
                </tabs>
            </div>
        </Poptip>
    </menu-item>
    <menu-item class="text-center px-3" v-if="Web.user.userInfo.serverState && permissions.wapSite">
        <i-button type="info" class="py-0 px-2" style="font-size: 20px" @click="header.wapSite.modal = true;">
            <i class="fas fa-mobile-alt"></i>
        </i-button>
        <div>移动端管理</div>
    </menu-item>
    <menu-item class="text-center px-3">
        <i-button type="info" class="py-0 px-2" style="font-size: 20px" @click="wxbot.openSetting('general')">
            <i class="fas fa-robot"></i>
        </i-button>
        <div>机器人</div>
    </menu-item>
    <menu-item class="text-center px-3">
        <Badge :count="noticeCount" overflow-count="99">
            <i-button type="info" class="py-0 px-2" style="font-size: 20px" @click="header.notice.drawer = true">
                <i class="fas fa-bullhorn"></i>
            </i-button>
        </Badge>
        <div>公告</div>
    </menu-item>
</i-menu>

<Drawer title="公告" :mask-closable="false" :width="40" v-model="header.notice.drawer" :styles="{padding:0,'overflow-y':'auto'}">
    <Collapse simple accordion class="border-top-0" v-if="header.notice.msgs.length > 0" @on-change="noticeRead">
        <Panel :name="msg.id+''" v-for="msg in header.notice.msgs">
            {{msg.title}} - [{{new Date(parseInt(msg.sendTime)).format("yyyy-MM-dd")}}] <Badge v-if="!msg.read" status="error" />
            <p slot="content" v-html="msg.content"></p>
        </Panel>
    </Collapse>
    <div v-else class="h-100 d-flex justify-content-center align-items-center">
        暂无公告
    </div>
</Drawer>

<modal v-model="header.wapSite.modal" onselectstart="return false" ondragstart="return false" width="300">
    <p slot="header" class="text-center">
        移动端管理地址
    </p>
    <div class="text-center">
        <div id="wapSite"></div>
        <i-input :value="header.wapSite.url" :readonly="true" style="width:256px">
    </div>
    <div slot="footer"></div>
</modal>