<i-input v-model.trim.lazy="seqs.form.filterKey" clearable size="small" placeholder="搜索..." prefix="ios-search" />
<table class="table table-hover border border-bottom-0 fixed mb-0">
    <thead>
        <tr>
            <th width="70">群ID</th>
            <th>群名称</th>
            <th v-if="Web.user.userInfo.serverState && setting.permissions.turing" class="text-center" width="72">图灵AI</th>
            <th v-if="Web.user.userInfo.serverState && setting.permissions.forward" class="text-center" width="72">群转发</th>
            <th v-if="Web.user.userInfo.serverState && setting.permissions.keyword" class="text-center" width="72">关键词</th>
            <th v-if="Web.user.userInfo.serverState && setting.permissions.timer" class="text-center" width="72">定时消息</th>
        </tr>
    </thead>
</table>
<Recycle-Scroller class="scroller border border-top-0" :items="seqData" :item-size="46" key-field="seq" style="height: 375px;">
    <template v-slot="{item}">
        <div class="d-inline-flex align-items-center border-bottom w-100" style="height:46px">
            <div class="px-2" style="width:70px">{{item.seq}}</div>
            <div class="px-2 text-truncate flex-fill" v-html="item.NickName"></div>
            <div v-if="Web.user.userInfo.serverState && setting.permissions.turing" class="px-2 text-center" style="width:72px">
                <i-switch v-model="item.turing.state" :loading="item.turing.loading" size="large" @on-change="changeSeq(item.turing)">
                    <span slot="open">开启</span>
                    <span slot="close">关闭</span>
                </i-switch>
            </div>
            <div v-if="Web.user.userInfo.serverState && setting.permissions.forward" class="px-2 text-center" style="width:72px">
                <i-switch v-model="item.forwards.state" :loading="item.forwards.loading" size="large" @on-change="changeSeq(item.forwards)">
                    <span slot="open">开启</span>
                    <span slot="close">关闭</span>
                </i-switch>
            </div>
            <div v-if="Web.user.userInfo.serverState && setting.permissions.keyword" class="px-2 text-center" style="width:72px">
                <i-switch v-model="item.keywords.state" :loading="item.keywords.loading" size="large" @on-change="changeSeq(item.keywords)">
                    <span slot="open">开启</span>
                    <span slot="close">关闭</span>
                </i-switch>
            </div>
            <div v-if="Web.user.userInfo.serverState && setting.permissions.timer" class="px-2 text-center" style="width:72px">
                <i-switch v-model="item.timers.state" :loading="item.timers.loading" size="large" @on-change="changeSeq(item.timers)">
                    <span slot="open">开启</span>
                    <span slot="close">关闭</span>
                </i-switch>
            </div>
        </div>
    </template>
</Recycle-Scroller>

<!-- <table class="table table-hover border fixed mb-0">
    <thead>
        <tr>
            <th width="70">群ID</th>
            <th>群名称</th>
            <th class="text-center" width="80">图灵AI</th>
            <th class="text-center" width="80">群转发</th>
            <th class="text-center" width="80">关键词</th>
            <th class="text-center" width="80">定时消息</th>
        </tr>
    </thead>
    <tbody style="height: 375px;">
        <template v-if="seqData.length">
            <tr v-for="item in seqData">
                <td class="px-2" style="width:70px">{{item.seq}}</td>
                <td class="px-2" style="width:409px">
                    <tooltip :content="item.NickName" class="text-truncate w-100">
                        <div slot="content" v-html="item.NickName"></div>
                        <div v-html="item.NickName"></div>
                    </tooltip>
                </td>
                <td class="px-2 text-center" style="width:80px">
                    <i-switch v-model="item.turing.state" :loading="item.turing.loading" size="large" @on-change="changeSeq(item.turing)">
                        <span slot="open">开启</span>
                        <span slot="close">关闭</span>
                    </i-switch>
                </td>
                <td class="px-2 text-center" style="width:80px">
                    <i-switch v-model="item.forwards.state" :loading="item.forwards.loading" size="large" @on-change="changeSeq(item.forwards)">
                        <span slot="open">开启</span>
                        <span slot="close">关闭</span>
                    </i-switch>
                </td>
                <td class="px-2 text-center" style="width:80px">
                    <i-switch v-model="item.keywords.state" :loading="item.keywords.loading" size="large" @on-change="changeSeq(item.keywords)">
                        <span slot="open">开启</span>
                        <span slot="close">关闭</span>
                    </i-switch>
                </td>
                <td class="px-2 text-center" style="width:80px">
                    <i-switch v-model="item.timers.state" :loading="item.timers.loading" size="large" @on-change="changeSeq(item.timers)">
                        <span slot="open">开启</span>
                        <span slot="close">关闭</span>
                    </i-switch>
                </td>
            </tr>
        </template>
        <tr v-else class="h-100">
            <td class="text-center align-middle">暂无数据</td>
        </tr>
    </tbody>
</table> -->