[v-cloak] {
    display: none;
}
.layout{
    border: 1px solid #d7dde4;
    background: #f5f7f9;
    position: relative;
    border-radius: 4px;
    overflow: hidden;
}
.content{
    height: 600px;
}
.content > .ivu-row,
.content > .ivu-row > .ivu-col {
    height: inherit;
}

.ivu-card.p-0 .ivu-card-body{
    padding: 0px;
}
.ivu-card-head p{
    font-weight: normal;
}
.bg-gray{
    background-color: #eee
}
.border-gray{
    border-color:#d6d6d6;
}
.ivu-card-head {
    border-color:#d6d6d6;
}


::-webkit-scrollbar{
    width:7px;
}
::-webkit-scrollbar-track-piece{
    background-color:transparent ;
}
::-webkit-scrollbar-thumb{
    background:#d9d9d9;
    border-radius: 7px;
    margin-right: 1px;
}
::-webkit-scrollbar-thumb:hover{
    background:#6c6e71;
}