<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="lib/bootstrap-4.2.1-dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="lib/fontawesome-free-5.1.1-web/css/all.css">
	<link rel="stylesheet" href="lib/iview-3/styles/iview.css">
	<link rel="stylesheet" href="lib/vue-virtual-scroller/vue-virtual-scroller.css"/>
	<link rel="stylesheet" href="face.css">
	<link rel="stylesheet" href="setting.css">
</head>

<body>
	<div id="app" class="layout" onselectstart="return false" ondragstart="return false" v-cloak>
		<header class="col-3 side-nav">
			<nav class="nav nav-pills flex-column pt-2">
				<li class="nav-header">设置</li>
				<a class="nav-link" name="user" data-toggle="tab" href="#user" role="tab" aria-controls="user" @click="header = constant.header[$event.target.name]">
					<i class="fas fa-user"></i> {{constant.header.user.title}}
				</a>
				<a class="nav-link" name="general" data-toggle="tab" href="#general" role="tab" aria-controls="general" @click="header = constant.header[$event.target.name]">
					<i class="fas fa-cog"></i> 通用
				</a>
				<li class="nav-header">群设置</li>
				<a class="nav-link" name="seqs" data-toggle="tab" href="#seqs" role="tab" aria-controls="seqs" @click="header = constant.header[$event.target.name]">
					<i class="fas fa-toggle-on"></i> {{constant.header.seqs.title}}
				</a>
				<a class="nav-link" v-show="Web.user.userInfo.serverState && setting.permissions.globalTimer" name="globalTimer" data-toggle="tab" href="#globalTimer" role="tab" aria-controls="globalTimer" @click="header = constant.header[$event.target.name]">
					<i class="fas fa-clock"></i> {{constant.header.globalTimer.title}}
				</a>
				<a class="nav-link" v-show="Web.user.userInfo.serverState && setting.permissions.globalKeyword" name="globalKeyword" data-toggle="tab" href="#globalKeyword" role="tab" aria-controls="globalKeyword" @click="header = constant.header[$event.target.name]">
					<i class="fas fa-comment-dots"></i> {{constant.header.globalKeyword.title}}
				</a>
				<a class="nav-link" name="tips" data-toggle="tab" href="#tips" role="tab" aria-controls="tips" @click="header = constant.header[$event.target.name]">
					<i class="fas fa-info-circle"></i> {{constant.header.tips.title}}
				</a>
			</nav>
		</header>
		<main class="col-9 offset-3">
			<div class="page-header border-bottom py-2">
				<h5 class="d-flex align-items-center">
					<i class="fas" :class="header.icon"></i> {{header.title}}
					<i-switch v-model="switchTimer.state" size="large" class="ml-3" v-show="header.title == constant.header.globalTimer.title" :loading="switchTimer.loading" @on-change="changeSeq(switchTimer)">
						<span slot="open">开启</span>
						<span slot="close">关闭</span>
					</i-switch>
					<i-switch v-model="switchKeyword.state" size="large" class="ml-3" v-show="header.title == constant.header.globalKeyword.title":loading="switchKeyword.loading" @on-change="changeSeq(switchKeyword)">
						<span slot="open">开启</span>
						<span slot="close">关闭</span>
					</i-switch>
					<!-- <i-switch size="large" class="ml-3" v-show="header.title == constant.header.tips.title">
						<span slot="open">开启</span>
						<span slot="close">关闭</span>
					</i-switch> -->
				</h5>
			</div>
			<div class="tab-content pt-5">
				<div class="tab-pane" id="user" role="tabpanel" aria-labelledby="user-tab"></div>
				<div class="tab-pane" id="general" role="tabpanel" aria-labelledby="general-tab"></div>
				<div class="tab-pane" id="seqs" role="tabpanel" aria-labelledby="seqs-tab"></div>
				<div class="tab-pane" v-show="Web.user.userInfo.serverState && setting.permissions.globalTimer" id="globalTimer" role="tabpanel" aria-labelledby="globalTimer-tab"></div>
				<div class="tab-pane" v-show="Web.user.userInfo.serverState && setting.permissions.globalKeyword" id="globalKeyword" role="tabpanel" aria-labelledby="globalKeyword-tab"></div>
				<div class="tab-pane" id="tips" role="tabpanel" aria-labelledby="tips-tab"></div>
			</div>
		</main>
	</div>
	<script src="lib/script/script.min.js" type="text/javascript"></script>
	<script src="setting.js" type="text/javascript"></script>
</body>

</html>