<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="lib/bootstrap-4.2.1-dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="lib/fontawesome-free-5.1.1-web/css/all.css">
	<link rel="stylesheet" href="lib/iview-3/styles/iview.css">
	<link rel="stylesheet" href="setting.css">
</head>

<body>
	<div id="app" class="layout" v-cloak>
		<header class="col-3 side-nav">
			<nav class="nav nav-pills flex-column pt-2">
				<li class="nav-header">设置</li>
				<a class="nav-link" name="user" data-toggle="tab" href="#user" role="tab" aria-controls="user" @click="header = constant.header[$event.target.name]">
					<i class="fas fa-user"></i> 个人中心
				</a>
				<a class="nav-link" name="general" data-toggle="tab" href="#general" role="tab" aria-controls="general" @click="header = constant.header[$event.target.name]">
					<i class="fas fa-cog"></i> 通用
				</a>
				<li class="nav-header">群设置</li>
				<a class="nav-link" name="forward" data-toggle="tab" href="#forward" role="tab" aria-controls="forward" @click="header = constant.header[$event.target.name]">
					<i class="fas fa-paper-plane"></i> 消息群发
				</a>
				<a class="nav-link" name="timer" data-toggle="tab" href="#timer" role="tab" aria-controls="timer" @click="header = constant.header[$event.target.name]">
					<i class="fas fa-clock"></i> 定时群发
				</a>
				<a class="nav-link" name="keyword" data-toggle="tab" href="#keyword" role="tab" aria-controls="keyword" @click="header = constant.header[$event.target.name]">
					<i class="fas fa-book"></i> 群关键词
				</a>
				<a class="nav-link" name="tips" data-toggle="tab" href="#tips" role="tab" aria-controls="tips" @click="header = constant.header[$event.target.name]">
					<i class="fas fa-info-circle"></i> 群提示语
				</a>
			</nav>
		</header>
		<main class="col-9 offset-3">
			<div class="page-header border-bottom py-2">
				<h5>
					<i class="fas" :class="header.icon"></i> {{header.title}}
				</h5>
			</div>
			<div class="tab-content pt-5">
				<div class="tab-pane" id="user" role="tabpanel" aria-labelledby="user-tab"></div>
				<div class="tab-pane" id="general" role="tabpanel" aria-labelledby="general-tab"></div>
				<div class="tab-pane active" id="forward" role="tabpanel" aria-labelledby="forward-tab"></div>
				<div class="tab-pane" id="timer" role="tabpanel" aria-labelledby="timer-tab"></div>
				<div class="tab-pane" id="keyword" role="tabpanel" aria-labelledby="keyword-tab"></div>
				<div class="tab-pane" id="tips" role="tabpanel" aria-labelledby="tips-tab"></div>
			</div>
		</main>
	</div>
	<script src="lib/script/script.min.js" type="text/javascript"></script>
	<script src="setting.js" type="text/javascript"></script>
</body>

</html>