[v-cloak] {
    display: none;
}
body{
    overflow-x: auto;
}
textarea{
    resize: none;
}
@media (min-width: 768px) {
    main.col-md-9 {
        width: 75%;
    }
    header.col-md-3 {
        width: 25%;
    }
}

@media (min-width: 992px){
    main.col-lg-10 {
        width: 83.333333%;
    }
    header.col-lg-2 {
        width: 16.666667%;
    }
}

@media (max-width: 768px){
    .ivu-modal{
        width:440px!important;
    }
    .vertical-center-modal .ivu-modal {
        flex: none;
    }
}
.side-nav {
    position: fixed;
    height: 100%;
    /* overflow: auto; */
}
.side-nav .nav-pills > li > a {
    padding: 8px 15px;
}
@media (max-height: 767px) {
    .side-nav .nav-pills > li > a {
        padding: 5px 15px;
    }
}
.side-nav .nav-pills > li > a.btn-success:hover {
    color: #fff;
    background-color: #449d44;
    border-color: #398439;
}
.nav-header {
    margin-right: -15px !important;
    margin-left: -15px !important;
    display: block;
    padding: 3px 15px;
    font-size: 11px;
    font-weight: bold;
    line-height: 20px;
    color: #999;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    text-transform: uppercase;
}
.divider {
    height: 1px;
    margin: 9px 1px;
    overflow: hidden;
    background-color: #e5e5e5;
}
.page-header {
    margin: 0;
    position: fixed;
    top: 0;
    width: inherit;
    background-color: rgba(255, 255, 255, 0.6);
    background-image: linear-gradient(to bottom, #ffffff, rgba(255, 255, 255, 0.6));
    max-height: 85px;
    z-index: 3;
}
.pt-6{
    padding-top: 6rem!important;
}


table.fixed tbody {
    display: block;
    overflow-y: auto;
}
table.fixed thead, 
table.fixed tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}
table.fixed thead tr th{
    background-color: #f8f8f9;
    border-width: 1px;
}
table.fixed tbody tr:first-child td{
    border-top:none;
}
table.fixed tbody tr.h-100:hover{
    background-color: #fff;
}
table.fixed thead {
    width: 100%
}
.vue-recycle-scroller__item-view.hover{
    background-color: #00000013;
}

.vertical-center-modal{
    display: flex;
    align-items: center;
    justify-content: center;
}
.vertical-center-modal .ivu-modal{
    top: 0;
}

::-webkit-scrollbar{
    width:7px;
}
::-webkit-scrollbar-track-piece{
    background-color:transparent ;
}
::-webkit-scrollbar-thumb{
    background:#d9d9d9;
    border-radius: 7px;
    margin-right: 1px;
}
::-webkit-scrollbar-thumb:hover{
    background:#6c6e71;
}
