<table class="table table-hover border fixed mb-0" style="height: 300px;">
    <thead>
        <tr>
            <th>功能描述</th>
            <th>回复内容</th>
            <th class="text-center" width="90">操作</th>
        </tr>
    </thead>
    <tbody style="height: 375px;">
        <tr>
            <td>加群自动消息设置</td>
            <td>
                <tooltip :content="showTipContent('chatRoomFoundTip')" class="text-truncate w-100">
                    <i class="far" :class="constant.typeIcon[getTipType('chatRoomFoundTip')]"></i>
                    {{showTipContent('chatRoomFoundTip')}}
                </tooltip>
                
            </td>
            <td class="text-center" width="90">
                
                <i-button icon="ios-settings" size="small" type="primary" 
                    @click="showTipMoadl('chatRoomFoundTip','加群自动消息设置')"></i-button>
            </td>
        </tr>
        <tr>
            <td>进群欢迎语设置</td>
            <td>
                <tooltip :content="showTipContent('memberJoinTip')" class="text-truncate w-100">
                    <i class="far" :class="constant.typeIcon[getTipType('memberJoinTip')]"></i>
                    {{showTipContent('memberJoinTip')}}
                </tooltip>
            </td>
            <td class="text-center" width="90">
                
                <i-button icon="ios-settings" size="small" type="primary" 
                    @click="showTipMoadl('memberJoinTip','进群欢迎语设置')"></i-button>
            </td>
        </tr>
        <tr>
            <td>退群提示语设置</td>
            <td>
                <tooltip :content="showTipContent('memberLeftTip')" class="text-truncate w-100">
                    <i class="far" :class="constant.typeIcon[getTipType('memberLeftTip')]"></i>
                    {{showTipContent('memberLeftTip')}}
                </tooltip>
                
            </td>
            <td class="text-center" width="90">
                
                <i-button icon="ios-settings" size="small" type="primary" 
                    @click="showTipMoadl('memberLeftTip','退群提示语设置')" title="设定"></i-button>
            </td>
        </tr>
    </tbody>
</table>

<modal v-model="tips.modal" :title="tips.title" width="400" :mask-closable="false" :loading="tips.loading" 
    class-name="vertical-center-modal"
    @on-ok="tipsOk" @on-cancel="tipsCancel">
    <i-form @submit.native.prevent>
        <form-item label="消息内容" class="mb-0">
            <radio-group v-model="tips.type">
                <radio label="text">文本</radio>
                <radio label="file">文件</radio>
            </radio-group>
        </form-item>
        <div>
            <i-input v-if="tips.type == 'text'" type="textarea" :autosize="{maxRows: 4, minRows: 4}" placeholder="回复内容..." v-model="tips.text"/>
            <Upload v-if="tips.type == 'file'" type="drag" :before-upload="handleKeywordUpload" :max-size="10240">
                <div style="padding: 20px 0">
                    <Icon type="ios-cloud-upload" size="52" style="color: #3399ff"></Icon>
                    <p>点击选择文件或拖拽文件到该区域</p>
                </div>
            </Upload>
            <div v-if="tips.file !== null">文件名: {{ tips.file.name }}</div>
        </div>
    </i-form>
</modal>