<i-form inline @submit.native.prevent>
    <form-item class="mb-0 ml-2">
        <i-button icon="ios-add" size="small" type="primary" @click="timer.form.modal=true"></i-button>
    </form-item>
</i-form>
<div>
    <i-table :columns="timer.columns" :data="timer.msgs" :loading="timer.msgsLoading" :height="530"></i-table>
</div>










<modal v-model="timer.form.modal" title="添加定时消息" width="440" :mask-closable="false" :loading="timer.form.modalLoading" @on-ok="editMsgOk" @on-cancel="editMsgCancel">
    <i-form @submit.native.prevent>
        <form-item label="时间类型" class="mb-0">
            <radio-group v-model="timer.form.scheduleType">
                <radio :label="1">定时发送</radio>
                <radio :label="2">间隔发送</radio>
            </radio-group>
        </form-item>
        <div class="mb-0">
            <i-select style="width:50px" placeholder="" v-model="timer.form.schedule.MM">
                <i-option v-if="timer.form.scheduleType == 1" value="*" key="*" class="text-center">*</i-option>
                <i-option v-if="timer.form.scheduleType == 1" v-for="n in 12" :value="n" :key="n" class="text-center">{{ n<10?"0"+n:n }}</i-option>
                <i-option v-if="timer.form.scheduleType == 2" v-for="n in 13" :value="n-1" :key="n-1" class="text-center">{{ (n-1)<10?"0"+(n-1):(n-1) }}</i-option></10>
            </i-select> 月
            <i-select style="width:50px" placeholder="" v-model="timer.form.schedule.dd">
                <i-option v-if="timer.form.scheduleType == 1" value="*" key="*" class="text-center">*</i-option>
                <i-option v-if="timer.form.scheduleType == 1" v-for="n in 31" :value="n" :key="n" class="text-center">{{ n<10?"0"+n:n }}</i-option>
                <i-option v-if="timer.form.scheduleType == 2" v-for="n in 32" :value="n-1" :key="n-1" class="text-center">{{ (n-1)<10?"0"+(n-1):(n-1) }}</i-option></10>
            </i-select> 日
            <i-select style="width:50px" placeholder="" v-model="timer.form.schedule.HH">
                <i-option v-if="timer.form.scheduleType == 1" value="*" key="*" class="text-center">*</i-option>
                <i-option v-for="n in 24" :value="n-1" :key="n-1" class="text-center">{{ (n-1)<10?"0"+(n-1):(n-1) }}</i-option>
            </i-select> 时
            <i-select style="width:50px" placeholder="" v-model="timer.form.schedule.mm">
                <i-option v-if="timer.form.scheduleType == 1" value="*" key="*" class="text-center">*</i-option>
                <i-option v-for="n in 60" :value="n-1" :key="n-1" class="text-center">{{ (n-1)<10?"0"+(n-1):(n-1) }}</i-option>
            </i-select> 分
            <i-select style="width:50px" placeholder="" v-model="timer.form.schedule.ss">
                <i-option v-if="timer.form.scheduleType == 1" value="*" key="*" class="text-center">*</i-option>
                <i-option v-for="n in 60" :value="n-1" :key="n-1" class="text-center">{{ (n-1)<10?"0"+(n-1):(n-1) }}</i-option>
            </i-select> 秒
            <div>
                <small class="text-danger">
                    {{timer.form.scheduleType == 1?"每当时间到达：":"频率每隔"}} [
                    <span v-show="timer.form.schedule.MM != null">{{timer.form.schedule.MM}}{{timer.form.scheduleType == 1?"月":"个月"}}</span>
                    <span v-show="timer.form.schedule.dd != null">{{timer.form.schedule.dd}}{{timer.form.scheduleType == 1?"日":"天"}}</span>
                    <span v-show="timer.form.schedule.HH != null">{{timer.form.schedule.HH}}{{timer.form.scheduleType == 1?"时":"小时"}}</span>
                    <span v-show="timer.form.schedule.mm != null">{{timer.form.schedule.mm}}{{timer.form.scheduleType == 1?"分":"分钟"}}</span>
                    <span v-show="timer.form.schedule.ss != null">{{timer.form.schedule.ss}}秒</span>
                    ] 发送一次
                </small>
                <div v-show="timer.form.scheduleType == 1" class="text-info">
                    "*" 号为该区域内所有时间段，例："14时5分*秒" 在下午2点5分 每秒发送一次
                </div>
            </div>
        </div>

        <form-item label="消息内容" class="mb-0">
            <radio-group v-model="timer.form.type">
                <radio label="text">文本</radio>
                <radio label="file">文件</radio>
            </radio-group>
        </form-item>
        <div>
            <i-input v-if="timer.form.type == 'text'" type="textarea" :autosize="{maxRows: 4, minRows: 4}" placeholder="回复内容..." v-model="timer.form.text"/>
            <Upload v-if="timer.form.type == 'file'" type="drag" :before-upload="handleUpload" :max-size="10240">
                <div style="padding: 20px 0">
                    <Icon type="ios-cloud-upload" size="52" style="color: #3399ff"></Icon>
                    <p>点击选择文件或拖拽文件到该区域</p>
                </div>
            </Upload>
            <div v-if="timer.form.file !== null">文件名: {{ timer.form.file.name }}</div>
        </div>
    </i-form>
</modal>
<modal v-model="timer.form.confirm" width="360" :mask-closable="false">
    <p slot="header" class="text-center" style="color:#f60;">
        <icon type="ios-information-circle"></icon>
        <span>删除确认</span>
    </p>
    <div style="text-align:center">
        <p>是否继续删除该定时群消息？</p>
    </div>
    <div slot="footer">
        <i-button type="error" size="large" long :loading="timer.form.confirmLoading" @click="delMsg">删除</i-button>
    </div>
</modal>