<div>
    <div class="member">
        <i-button size="small" icon="ios-sync" type="primary" :loading="info.loading" @click="reloadChatRoomMember" 
            style="width: 35px; height: 35px;">
        </i-button>
        <p class="member_nickname ng-binding">刷新</p>
    </div>
</div>
<div v-for="(item, index) in info.members">
    <div class="member">
        <img class="avatar2" :src="Web.wxHost + item.HeadImgUrl" mm-src="" alt="" title="">
        <p class="member_nickname ng-binding">{{emojiFormatter(item.NickName)}}</p>
    </div>
</div>
<!-- <div class="message_empty">
    <p class="p_blank">未选择群聊</p>
</div> -->