.member {
    float: left;
    position: relative;
    height: 70px;
    margin-left: 9px;
    padding-top: 10px;
}
.member_nickname {
    color: #888;
    width: 55px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    font-size: 12px;
    margin-left: -8px;
    vertical-align: middle;
    text-align: center;
}
.avatar2 {
    display: block;
    cursor: pointer;
    width: 40px;
    height: 40px;
    background-color: #ccc;
}