<!-- <card dis-hover="true" class="p-0 bg-gray">
    <ul>
        <li v-for="(item, index) in contacts.temp">
            <div class="contact_item" @click="startChat(item.seq,item.NickName,item.UserName,item.HeadImgUrl)">
                <div class="avatar">
                    <Badge :id="'avatar_' + item.seq">
                        <Avatar shape="square" icon="ios-person" :src="hostUrl() + item.HeadImgUrl" />
                    </Badge>
                </div>
                <div class="info">
                    <h4 class="nickname">{{item.NickName}}</h>
                </div>
            </div>
        </li>
    </ul>
</card> -->
<div class="message_empty">
    <p class="p_blank">未选择群聊</p>
</div>